loremaps.xsd

    <?xml version="1.0" encoding="UTF-8"?>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
        
        <xs:element name="loremaps">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="mapregion" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="id" type="xs:string"/>
                                <xs:element name="name" type="xs:string"/>
                                <xs:element name="type" type="xs:string"/>
                                <xs:element name="coordinates">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="latitude" type="xs:decimal"/>
                                            <xs:element name="longitude" type="xs:decimal"/>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="description" type="xs:string"/>
                                <xs:element name="landmarks" type="xs:integer"/>
                                <xs:element name="explorationlevel" type="xs:string"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
        
    </xs:schema>
